*{

  background-color: bisque;
}

nav a {
  	justify-content: center;
	background-color:#c4a44e;
	color:white;
	flex:1;
	 padding:10px;
	text-decoration:none;
}
nav{
  position:sticky;

  padding:5px;
  display:flex;
}
.banner{
  background-image: linear-gradient(rgba(21, 24, 24, 0),
   rgba(0, 0, 0, 0.5)),url("https://i.pinimg.com/1200x/e4/f0/36/e4f0367e0ed1bad05ffe449b97387a43.jpg") ;
height:70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

nav input[type=text] {
  float: right;
  padding: 6px;
   border: 1px solid #ccc;  
  background-color: #c4a44e;
;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
